@charset "UTF-8";
body {
  background-color: #fcebef;
  margin: 0;
  font-size: 20px;
  font-family: "Kaushan Script", cursive;
  max-width: 100%;
  max-height: 100%;
}

.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6c0d1;
  z-index: 10;
  position: relative;
  font-family: "Vollkorn", serif;
}
.header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header .title_name {
  text-overflow: ellipsis;
}
.header .header_menu {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_menu .button {
  color: #fff;
  width: 33%;
  padding: 10px;
  margin-left: 5px;
  background-color: #ef8893;
  text-align: center;
  border-bottom: double 5px #fcebef;
}

.container1 {
  background-image: url("../img/cherry-blossom-tree-1225186_1920.jpg");
  background-size: auto;
  max-width: 100%;
  min-height: 95vh;
  height: 800px;
  width/***/: auto;
  margin: 0;
  padding: 0px;
}
.container1 .block_content {
  -webkit-animation-name: huwahuwa;
          animation-name: huwahuwa;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  display: block_content;
  background-color: #fcebef;
  margin: 300px 10% 10% 10%;
  width: 300px;
  height: 300px;
}
.container1 .block_content .frame {
  margin: 5px;
  height: 100%;
  background-color: #fcebef;
  border: solid 1px #ef8893;
  /* 内側の線になる一本線の枠線をひく*/
  outline: solid 5px #f6c0d1;
  /* 外側の線になる5pxの一本線の枠線をひく*/
  outline-offset: 1px;
  /* 内側の線になる一本線の枠線をひく*/
}

.container2 {
  padding-top: 4%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.container2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
.container2 .content_info {
  padding: 5px;
}
.container2 .content_detail {
  padding-left: 5%;
}

.footer {
  background-color: #f6c0d1;
  text-align: center;
}
.footer .user_info {
  padding-top: 5%;
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .user_info .profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.footer .user_info .profile_info .icon_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.footer .user_info .account_detail {
  padding-left: 30px;
}

@-webkit-keyframes huwahuwa {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
}

@keyframes huwahuwa {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
}
@-webkit-keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }
  /*アニメーション終了時は不透明度100%*/
}
@keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }
  /*アニメーション終了時は不透明度100%*/
}
@media screen and (max-width: 480px) {
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */